body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #0a0f1e;
    color: #ffffff;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    background: linear-gradient(90deg, #004aad, #00d4ff);
    padding: 10px 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.navbar::-webkit-scrollbar {
    display: none;
}

.navbar a {
    flex: 0 0 auto;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 18px;
    transition: background 0.3s;
}

.navbar a.active {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.container {
    padding: 20px;
}

h1 {
    color: #00d4ff;
}

.converter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 212, 255, 0.5);
    max-width: 310px;
    margin: auto;
}

#inputValue, #outputValue {
    width: 280px;
    padding: 10px;
    font-size: 16px;
    border: none;
    align-items: center;
}

#inputUnit, #outputUnit {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: none;
    align-items: center;
}

p {
    margin: 0;
    text-align: left;
}

select, input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

input[readonly] {
    background: rgba(255, 255, 255, 0.2);
    color: white;
}



/* Remove number input arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}